body {
color: white;
width: 80%;
text-align: center;
margin-left: auto;
margin-right: auto;
background-color: 	#2F4F4F;
}

#count {
    color: #FEFE3F;
    font-size: 40px;
}

a img { border: none; }


#count {
    color: #FEFE3F;
    font-size: 40px;
}

#guess, #suggest, h1, h2, a, .value {
    color: #FEFE3F;
}

#retrain, #display_data {
    text-align: left;
    float: left;
}
